$font-color: #fff;
$font-family: 'Inter', sans-serif;
$color-nav: #030c11;
$color-nav-tech: #1be2bc;
$color-main: #fff;
$color-search: #1448ed;
$color-subtitle-ref: #c9c9c9;
$color-pin: #4d7ae8;
$color-prefooter: #242424;


body {
    margin: 60px 0 0;
    padding-top: 0!important;
    color: #000;
    background-color: $color-main;
    font-size: .8rem;
    font-family: $font-family;
    line-height: 1.375;
}

/* HEADER */

.container {
    margin: 0 40px;
}

/* TOPBAR */

.topbar {
    position: relative;
}
.topbar-right {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0;
    top: 0;
    right: 0;
    background-color: $color-nav;
    border: 0;
}

.topbar-search {
    padding: 8px 11 px 7px;
    color: $color-main;
    background-color: $color-search;
}

.topbar-menu {
    background-color: $color-nav;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    position: relative;
}

nav .topbar-tech {
    color: $color-nav-tech;
    text-decoration: none;
}

.topbar-tech:hover {
    color: $color-main;
}

.topbar-trigger {
    text-decoration: none;
    color: $color-main;
    border: none;
    background-color: $color-nav;
    cursor: pointer;
    position: relative;
}

.topbar-trigger:hover{
    color: $color-nav-tech;
}

.topbar-submenu-item {
    text-decoration: none;
    display: none;
}

/*.topbar-submenu {
    position: absolute;
    background-color: $color-main;
    white-space: nowrap;
    color: $color-nav;
    top: 100%;
    left: 50%;
    z-index: 1;
    text-align: center;
    border-radius: 0 0 4px 4px;   
}*/

.topbar-trigger:hover + ul {
    display: block;
    background-color: $color-main;
    white-space: nowrap;
    color: $color-nav;
    top: 100%;
    left: 50%;
    z-index: 1;
    text-align: center;
    border-radius: 0 0 4px 4px;  
}

/* NAV */

.container-inner {
    //max-width: 1280px;
    width: 100%;
    margin: 0 50px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    position: relative;
    z-index: 3;
   // flex-shrink: 10;
    padding: 10px 0;
    line-height: 0;
    display: inline-block;
}

.nav-list:hover ul li{
    display: block;
}

.nav-logo-img {
    width: 127px;
    height: 40px;
}

.nav-list {
    display: inline;
    justify-content: space-evenly;
}

.nav-trigger {
    position: relative;
    padding: 23px 20px 21px;
    background-color: $color-main;
    border: none;
}

/* MAIN */

.home-hero {
    width: 100%;
    height: 70rem;
    background-image: url(https://www.kaliop.com/app/uploads/2021/09/Key-visual-Hero-Home-scaled.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: $color-main;
    position: relative;
}   

.home-hero-block {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 1.22; 
    color: $color-main; 
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.home-hero-title {
    justify-content: center;
}

.home-hero-links {
    width: 100%;
    position: absolute;
    transform: translate(20%, 1550%);
}

.home-hero-link {
    width: 290px;
    padding: 20px 80px;
    margin: 10px 20px;
    color: $color-main;
    font-size: 2rem;
    font-weight: 700;
    transition: .3s;
    background-color: rgba(3,12,17,.7);
    border-radius: 52px;
    cursor: pointer;
    transition: background-color .25s ease;
    text-decoration: none;    
}
  /* SECTION REFERENCES */

.block-head {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
  
.title-ref {
    font-size: 4rem;
    line-height: 46px;
}
  
.subtitle-ref {
    font-size: 3rem;
    color: $color-subtitle-ref;
}

.teasers {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    justify-content: space-between;
}
 
.teasers-item {
    flex: 0 0 40%;
    margin: 20px 10px;
}

.teasers-img {
    background-image: url(https://www.kaliop.com/app/uploads/2019/01/franceconnect-thumb.jpg);
    background-size: cover;
    height: 40rem; 
    width: 65rem;
}
  
.teasers-img2  {
    background-image: url(https://www.kaliop.com/app/uploads/2019/01/biogen-thumb.jpg);
    background-size: cover;
    height: 40rem;
    width: 65rem;
}
  
.teasers-img3  {
    background-image: url(https://www.kaliop.com/app/uploads/2019/07/yelloh.png);  
    background-size: cover;
    height: 40rem;
    width: 65rem;
}

.teasers-img4 {
    background-image: url(https://www.kaliop.com/app/uploads/2019/01/essilor-thumb.jpg);
    background-size: cover;
    height: 40rem;
    width: 65rem;
}

.teasers-pin {
    //position: absolute;
    padding: 10px 13px;
    width: 175px;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: $color-pin;
    color: $color-main;
    border-radius: 30px;
    transform: translate(10px, -100px);
    //z-index: 2;
    margin: 10px;
}

.teasers-tag1, .teasers-tag2, .teasers-tag3, .teasers-tag4 {
    display: flex;
    flex-wrap: wrap;
    font-family: $font-family;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

.teasers-tag {
    display: flex;
}

.teasers-links {
    cursor: pointer;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    font-family: $font-family;
    font-size: 2rem;
    font-weight: 800;
    color: $color-nav;
    font-style: italic;
    padding: 10px;
}
  
  /* SECTION OFFERS */

.offers {
    background-color: rgb(247, 247, 247);
    padding-bottom: 200px;
}

.block-head {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.title-offers {
    font-size: 4rem;
    font-family: $font-family;
    font-weight: 800;
}
.subtitle-offers {
    font-size: 3rem;
    color: $color-subtitle-ref;
}

.blocs-overlay {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.bloc-item {
    border: solid 1px $color-prefooter;
    flex: 0 0 30%;
    padding: 15px;
    background-color: $color-main;
    color: $color-nav;
    margin-top: 65px;
}

.bloc-tit1 {
    font-weight: 900;
    font-size: 2rem;
}

.bloc-paragraph {
    padding-bottom: 1px;
    opacity: .7;
    color: $color-prefooter;
    font-size: 1.7rem;
}

.bloc-overlay-link {
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
}

.bloc-content2 {
    visibility: none;
}

.bloc-item:hover {
    background-color: $color-prefooter;

}


  /* SECTION PREFOOTER */

.prefooter {
    position: relative;
    padding: 80px 0;
    text-align: center;
    background-color: $color-prefooter;
}

.title-prefooter {
    color: $color-main;
    font-size: 3.5rem;
}

.prefooter-btn {
    color: $color-main;
    background-color: $color-pin;
    border: none;
    padding: 18px 40px;
    font-size: 2rem;
}

  /* FOOTER */

  .footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
    align-items: center;
}

.footer-logo {
    height: 150px;
    width: 300px;
}
  
.footer-columns {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 70%;
    padding: 10px;
}

.footer-column {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.footer-col-1, .footer-col-2, .footer-col-3 {
    font-size: 1.5rem;
}

.footer-col-link {
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    color: $color-subtitle-ref;
}

