$font-color: #fff;
$font-family: 'Inter', sans-serif;
$color-nav: #030c11;
$color-nav-tech: #1be2bc;
$color-main: #fff;
$color-search: #1448ed;

body {
    margin: 60px 0 0;
    padding-top: 0!important;
    color: #000;
    background-color: $color-main;
    font-size: .8rem;
    font-family: $font-family;
    line-height: 1.375;
}

/* HEADER */

/* TOPBAR */

.topbar {
    position: relative;
}
.topbar-right {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0;
    top: 0;
    right: 0;
    background-color: $color-nav;
    border: 0;
}

.topbar-search {
    padding: 8px 11 px 7px;
    color: $color-main;
    background-color: $color-search;
}

.topbar-menu {
    background-color: $color-nav;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    position: relative;
}

nav .topbar-tech {
    color: $color-nav-tech;
    text-decoration: none;
}

.topbar-tech:hover {
    color: $color-main;
}

.topbar-trigger {
    text-decoration: none;
    color: $color-main;
    border: none;
    background-color: $color-nav;
    cursor: pointer;
    position: relative;
}

.topbar-trigger:hover{
    color: $color-nav-tech;
}

.topbar-submenu-item {
    text-decoration: none;
    display: none;
}

/*.topbar-submenu {
    position: absolute;
    background-color: $color-main;
    white-space: nowrap;
    color: $color-nav;
    top: 100%;
    left: 50%;
    z-index: 1;
    text-align: center;
    border-radius: 0 0 4px 4px;   
}*/

.topbar-trigger:hover + ul {
    display: block;
    background-color: $color-main;
    white-space: nowrap;
    color: $color-nav;
    top: 100%;
    left: 50%;
    z-index: 1;
    text-align: center;
    border-radius: 0 0 4px 4px;  
}

/* NAV */

.nav-container {

}
.container-inner {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    position: relative;
    z-index: 3;
    flex-shrink: 1;
    padding: 10px 0;
    line-height: 0;
}

.nav-logo-img {
    width: 127px;
    height: 40px;
}

.nav-list {
    display: inline;
    justify-content: space-evenly;
}

.nav-link {
    display: inline-block;
}

.nav-trigger {
    position: relative;
    padding: 23px 20px 21px;
    background-color: $color-main;
    border: none;
}
/* MAIN */
.home-hero {
    background-image: url(https://www.kaliop.com/app/uploads/2021/09/Key-visual-Hero-Home-scaled.jpg);
  }
  
  /* SECTION REFERENCES */
  
  .teasers-img {
    background-image: url(https://wwwx.kaliop.com/app/uploads/2019/01/franceconnect-thumb.jpg);
  }
  
  .teasers-img2 {
    background-image: url(https://www.kaliop.com/app/uploads/2019/01/biogen_white.svg);
  }
  
  .teasers-img3 {
    background-image: url(https://www.kaliop.com/app/uploads/2019/07/logo-yelloh-blanc.png);
  }
  
  .teasers-img4 {
    background-image: url(https://www.kaliop.com/app/uploads/2019/02/essilor_white-1.png);
  }
  
  /* SECTION OFFERS */
  /* SECTION PREFOOTER */
  /* FOOTER */
  