$font-color: #fff;
$font-family: 'Inter', sans-serif;
$color-nav: #030c11;
$color-nav-tech: #1be2bc;
$color-main: #fff;
$color-search: #1448ed;
$color-subtitle-ref: #c9c9c9;
$color-pin: #4d7ae8;
$color-prefooter: #242424;


body {
    padding-top: 0!important;
    color: #000;
    background-color: $color-main;
    font-size: 1rem;
    font-family: $font-family;
    line-height: 1.375;
    margin: 0;
}

/* HEADER */

.container {
    margin: 0 auto;
}

header {
    position: fiexed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
}
.one {
    display: block;
    position: fixed;
}
.one.active{
    top: 0px;
}

/* TOPBAR */

.topbar {
    position: relative;
}

.topbar-right {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 1rem;
    top: 0;
    right: 0;
    background-color: $color-search;
    border: 0;
}
.topbar-lang-choose {
    font-size: 1rem;
}

.topbar-search {
    padding: 8px 11 px 7px;
    color: $color-main;
    background-color: $color-search;
}

.topbar-menu {
    background-color: $color-nav;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 40px 180px;
    font-size: 1.5rem;
    justify-content: flex-start;
}

nav li {
    display: inline;
    position: relative;
}

nav .topbar-tech {
    color: $color-nav-tech;
    text-decoration: none;
}

.topbar-tech:hover {
    color: $color-main;
}

.topbar-trigger {
    text-decoration: none;
    color: $color-main;
    border: none;
    background-color: $color-nav;
    cursor: pointer;
    position: relative;
    font-size: 1.5rem;
    padding: 0 30px;
}

.topbar-item {
    padding-right: 80px;
}
.topbar-trigger:hover{
    color: $color-nav-tech;
}

.topbar-submenu-item {
    text-decoration: none;
    display: none;
}

/*.topbar-submenu {
    position: absolute;
    background-color: $color-main;
    white-space: nowrap;
    color: $color-nav;
    top: 100%;
    left: 50%;
    z-index: 1;
    text-align: center;
    border-radius: 0 0 4px 4px;   
}*/

.topbar-trigger:hover + ul {
    display: block;
    background-color: $color-main;
    white-space: nowrap;
    color: $color-nav;
    top: 100%;
    left: 50%;
    z-index: 1;
    text-align: center;
    border-radius: 0 0 4px 4px;  
}

/* NAV */
.nav {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 10px 130px;
}

.container-inner {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    flex-direction: row;
    padding: 10px 50px;   
    justify-content: flex-start;  
}

.nav-content {
    justify-content: flex-start;
}

.nav-logo-img {
    height: 100px;
    width: 300px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
   
}

.nav-link {
    padding: 10px 30px;
    list-style-type: none;
    position: relative;
}

.nav-trigger {
    background-color: $color-main;
    border: none;
    font-size: 2rem;
    font-weight: 800;
    padding: 0 80px;
}

.nav-submenu {
    display: none;
    width: 50%;
    list-style-type: none;
    font-size: 1rem;
    padding: 15px 80px;
    transform: translateX(-50%);
    position: absolute;
    background-color: $color-main;
    left: 50%;
    text-align: center;  
    border-radius: 4%;  
    top: 140%;
}

.nav-separator1 {
    display: block;
    margin: 5px 0 0;
    color: #4d7ae8;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 800;
    border-top: 2px solid hsla(0,0%,60%,.2);
    transition: background-color .25s ease,opacity .25s ease .35s,color .25s ease;
}

.nav-list ul:hover ul {
    display: block;
}

.nav-submenu-link {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    width: 5rem;
    padding-top: 5px;
    line-height: 3rem;
}

.nav-submenu-link:hover {
    background-color: $color-main;
}

//.nav-list ul ul a:hover {}

/*
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-inner {
    //max-width: 1280px;
    width: 100%;
    margin: 0 50px;
}

.nav-link {
    position: relative;
    z-index: 3;
   // flex-shrink: 10;
    padding: 10px 0;
    line-height: 0;
    display: inline-block;
}

.nav-list:hover ul li{
    display: block;
}

.nav-logo-img {
    width: 127px;
    height: 40px;
}

.nav-list {
    display: inline;
    justify-content: space-evenly;
}

.nav-list li:hover ul {
    display: block;
}

.nav-trigger {
    position: relative;
    padding: 23px 20px 21px;
    background-color: $color-main;
    border: none;
}
*/

/* MAIN */

.home-hero {
    width: 100%;
    height: 70rem;
    background-image: url(https://www.kaliop.com/app/uploads/2021/09/Key-visual-Hero-Home-scaled.jpg);
    background-size: cover;
    background-position: center center;
    color: $color-main;
    position: relative;
}   

.home-hero-block {
    font-size: 3rem;
    line-height: 1.22; 
    color: $color-main; 
    display: flex;
    align-items: center;
    //text-align: center;
    justify-content: center;
    position: relative;
}

.home-hero-title {
    justify-content: center;
    position: absolute;
    text-align: center;
    font-weight: 800;
    transform: translate( 0, 175%);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.home-hero-links {
    width: 100%;
    position: absolute;
    transform: translate(-5%, 1550%);
    font-weight: 800;
}

.home-hero-link {
    width: 190px;
    padding: 40px 80px;
    margin: 0 20px;
    color: $color-main;
    font-size: 2rem;
    font-weight: 800;
    transition: .3s;
    background-color: rgba(3,12,17,.7);
    border-radius: 52px;
    cursor: pointer;
    transition: background-color .25s ease;
    text-decoration: none;    
}

.home-hero-link:hover {
    background-color: $color-nav-tech;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
  /* SECTION REFERENCES */

.references {
    padding: 20px 170px;
}

.block-head {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
  
.title-ref {
    font-size: 4rem;
    line-height: 46px;
    font-weight: 800;
}
  
.subtitle-ref {
    font-size: 3rem;
    color: $color-subtitle-ref;
}

.teasers {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
   // justify-content: space-between;
}
 
.teasers-item {
    flex: 0 0 50%;
    margin: 0 auto;
}

.teasers-img {
    background-image: url(https://www.kaliop.com/app/uploads/2019/01/franceconnect-thumb.jpg);
    background-size: cover;
    height: 40rem; 
    width: 70rem;
}
  
.teasers-img2  {
    background-image: url(https://www.kaliop.com/app/uploads/2019/01/biogen-thumb.jpg);
    background-size: cover;
    height: 40rem;
    width: 70rem;
}
  
.teasers-img3  {
    background-image: url(https://www.kaliop.com/app/uploads/2019/07/yelloh.png);  
    background-size: cover;
    height: 40rem;
    width: 70rem;
}

.teasers-img4 {
    background-image: url(https://www.kaliop.com/app/uploads/2019/01/essilor-thumb.jpg);
    background-size: cover;
    height: 40rem;
    width: 70rem;
}

.teasers-pin {
    //position: absolute;
    padding: 10px 13px;
    width: 175px;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: $color-pin;
    color: $color-main;
    border-radius: 30px;
    transform: translate(10px, -100px);
    //z-index: 2;
    margin: 5px;
}

.teasers-tag1, .teasers-tag2, .teasers-tag3, .teasers-tag4 {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    padding: 20px 0;
}

.teasers-tag {
    display: flex;
    padding: 20px 0;
}

.teasers-links:hover {
    color: $color-pin;
    transition-duration: 1s;
}

.teasers-tag1:hover {
    color: $color-pin;
    transition-duration: 1s;
}   
.teasers-tag2:hover {
    color: $color-pin;
    transition-duration: 1s;
}

.teasers-tag3:hover {
    color: $color-pin;
    transition-duration: 1s;
}

.teasers-tag4:hover {
    color: $color-pin;
    transition-duration: 1s;
}

.teasers-links {
    cursor: pointer;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    font-family: $font-family;
    font-size: 2rem;
    font-weight: 800;
    color: $color-nav;
    font-style: italic;
    padding: 10px;
}
  
  /* SECTION OFFERS */

.offers {
    background-color: rgb(247, 247, 247);
    padding: 20px 170px 200px 170px;
}

.bloc-head-off {
    font-weight: 800;
}

.title-offers {
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 1px;
}

.subtitle-offers {
    font-size: 4rem;
    color: $color-subtitle-ref;
    font-weight: 500;
    margin-top: 1px;
}

.blocs-overlay {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.bloc-item {
    border: solid 1px $color-prefooter;
    flex: 0 0 30%;
    padding: 15px;
    background-color: $color-main;
    color: $color-nav;
    margin-top: 65px;
    height: 388px;
    width: 410px;
}

.bloc-tit1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin: 30px 30px 5px 30px;
}

.bloc-paragraph {
    padding-bottom: 5px;
    opacity: .7;
    color: $color-prefooter;
    font-size: 1.8rem;
    margin: 5px 30px 30px 30px;
}

.offer-link {
    text-decoration: none;
    display: flex;
    position: relative;
    padding-top: 25px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.bloc-content2 {
    display: none;
    position: absolute;
}

.bloc-item:hover {
    background-color: $color-prefooter;
}

.bloc-item:hover .bloc-content2 {
    display: inline;
}

.bloc-item:hover .bloc-content {
    display: none;
}

.bloc-overlay-tit1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: $color-main;
    padding: 50px 20px 50px 20px;
    margin-top: 150px;
    margin-bottom: 80px;
}

.bloc-overlay-item {
    color: $color-main;
    width: 150px;
    position: relative;
    transform: translate(-180%, 4000%)
}

.bloc-overlay-item2 {
    color: $color-main;
    width: 150px;
    position: relative;
    transform: translate(-130%, 4000%)
}

.bloc-overlay-item3 {
    color: $color-main;
    width: 150px;
    position: relative;
    transform: translate(-195%, 4000%)
}

.bloc-overlay-item4 {
    color: $color-main;
    width: 150px;
    position: relative;
    transform: translate(-120%, 4000%)
}

.bloc-overlay-item5 {
    color: $color-main;
    width: 150px;
    position: relative;
    transform: translate(-150%, 4000%)
}

.bloc-overlay-item6 {
    color: $color-main;
    width: 150px;
    position: relative;
    transform: translate(-160%, 4000%)
}

  /* SECTION PREFOOTER */

.prefooter {
    position: relative;
    padding: 150px 0;
    text-align: center;
    background-color: $color-prefooter;
}

.prefooter-logo {
    background-image: src="/Project-/logo.jpg";
}
.title-prefooter {
    color: $color-main;
    font-size: 4.5rem;
}

.prefooter-btn {
    color: $color-main;
    background-color: $color-pin;
    border: none;
    padding: 30px 60px;
    font-size: 2rem;
    font-weight: 800;
    transition-duration: 1.3s;
    cursor: pointer;
}

.prefooter-btn:hover {
    background-color: $color-main;
    color: $color-pin;
}

  /* FOOTER */

  footer {
    padding: 20px 170px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.footer-logo {
    height: 200px;
    width: 350px;
}
  
.footer-columns {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 70%;
    padding: 10px;
}

.footer-column {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.footer-col-1, .footer-col-2, .footer-col-3 {
    font-size: 1.8rem;
    font-weight: 900;
}

.footer-col-link {
    text-decoration: none;
    padding: 10px 0px;
    font-size: 1.8rem;
    color: $color-subtitle-ref;
}

.footer-col-link:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 80px;
    border-top: 2px solid hsla(0,0%,60%,.2);
}

.footer-socialnetwork-follow {
    font-size: 1.8rem;
    font-weight: 800;
    padding-right: 30px;
}

.footer-socialnetwork {
    flex-direction: row;
    display: flex;
    flex: 0 0 8%;
    padding-right: 5px;
    align-items: center; 
    flex-wrap: nowrap;
}

.footer-socialnet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 0 30%;
    height: 40px;
    width: 10px;
}

.footer-contact {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 800;
}

.footer-contact:visited {
    color:$color-nav;
}

.footer-copyright {
    font-size: 1.8rem;
}

.footer-policy {
    text-decoration: none; 
}

.footer-policy:hover {
    text-decoration: underline;
}
.footer-policy:visited {
    color: $color-nav;
}

.icon-footer-copyright {
    font-weight: 800;
}

